.formcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.625rem 0rem;
}

.iframecontainer {
    width: 70%;
    height: 35rem;
}

.formcontainer h1 {
    color: #134D92;
}

@media (max-width: 576px) {
    .iframecontainer {
        width: 90%;
        height: 38rem;
    }
}
